## Comparando diferentes modelos em um único Notebook

In [2]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', 21)
dados = pd.read_csv("/home/gab/MachineLearning-Files/Exercicios/Datasets/kc_house_data.csv")

In [3]:
delet_columns = ["id", "date", "zipcode", "lat", "long"]

for columns in delet_columns:
    dados.drop(columns, axis=1, inplace = True)

In [4]:
dados.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [5]:
# Separando os dados
y = dados["price"]
x = dados.drop('price', axis=1)

In [6]:
from  sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.30, random_state=14)

In [24]:
# Criando Função para testar cada modelo.
def modelosregressao(a, b, c, d):
    from sklearn.linear_model import LinearRegression
    from sklearn.linear_model import Ridge
    from sklearn.linear_model import Lasso
    from sklearn.linear_model import ElasticNet
    x_treino = a
    y_treino = b
    x_teste = c
    y_teste = d
    reg = LinearRegression()
    ridge = Ridge(alpha=10)
    lasso = Lasso(alpha=1000, max_iter=1000, tol=0.1)
    elastic = ElasticNet(tol=0.2, max_iter=5000, l1_ratio=0.9, alpha=1)
    reg.fit(x_treino, y_treino)
    ridge.fit(x_treino, y_treino)
    lasso.fit(x_treino, y_treino)
    elastic.fit(x_treino, y_treino) 
    result_reg = reg.score(x_teste, y_teste)
    result_ridge = ridge.score(x_teste, y_teste) 
    result_lasso = lasso.score(x_teste, y_teste)  
    result_elastic = elastic.score(x_teste, y_teste)  
    print("Regressão Linear :: {} \nRegressão Ridge :: {} \nRegressão Lasso :: {} \nRegressão Elastic Net :: {}".format(result_reg, result_ridge, result_lasso, result_elastic))

In [25]:
modelosregressao(x_treino, y_treino, x_teste, y_teste)

Regressão Linear :: 0.6538094196280744
Regressão Ridge :: 0.6545037069731696
Regressão Lasso :: 0.6547706041742776
Regressão Elastic Net :: 0.6429961330013113