## Elastic Net

[Documentação Elastic Net](shorturl.at/euHOR)

`sklearn.linear_model.ElasticNet`

Regressão Linear que combina L1 + L2.

Minimiza a função Objetiva:

```
1 / (2 * n_samples) * ||y - Xw||^2_2
+ alpha * l1_ratio * ||w||_1
+ 0.5 * alpha * (1 - l1_ratio) * ||w||^2_2

``` 


Se você estiver interessado em controlar as penalidades separadamente de L1 e L2, tenha em mente que isso é equivalente á:

```a * L1 + b * L2```

Onde:

```alpha = a + b and l1_ratio = a / (a + b)```

In [1]:
import pandas as pd
import numpy as np

In [3]:
pd.set_option('display.max_columns', 21)
dados = pd.read_csv("/home/gab/MachineLearning-Files/Exercicios/Datasets/kc_house_data.csv")

In [4]:
delet_columns = ["id", "date", "zipcode", "lat", "long"]

for columns in delet_columns:
    dados.drop(columns, axis=1, inplace = True)

In [5]:
dados.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,1800,7503

In [6]:
# Separando os dados
y = dados["price"]
x = dados.drop('price', axis=1)

In [8]:
from  sklearn.model_selection import train_test_split
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size=0.30, random_state=14)

In [25]:
from sklearn.linear_model import ElasticNet
modeloElasticNet = ElasticNet(alpha=1, l1_ratio=0.9, tol=0.2, max_iter=5000)
modeloElasticNet.fit(x_treino, y_treino)
resultado_EN = modeloElasticNet.score(x_teste, y_teste)
print('Resultado Elastic Net ::',resultado_EN)

Resultado Elastic Net :: 0.6429961330013113